<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914531999231-figmknvmfl44tv052f24pv8njro04rjj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914531999231-figmknvmfl44tv052f24pv8njro04rjj</string>
	<key>API_KEY</key>
	<string>AIzaSyCUhB9c2HFKYcpreAlCNdhl4kYQfJ0d3Bo</string>
	<key>GCM_SENDER_ID</key>
	<string>914531999231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.akasia365mc</string>
	<key>PROJECT_ID</key>
	<string>akasia365-clinic</string>
	<key>STORAGE_BUCKET</key>
	<string>akasia365-clinic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914531999231:ios:fbab755bccca700eae1bca</string>
</dict>
</plist>